.welcome {
  position: fixed;
  background-color: lightgreen;
  width: 100%;
  height: 100%;
  
  
  
  
}

.welcomeButton {
  margin-top: 50%;
  width: 30px;
  height: 10px;
}

.main {
  text-align: center;
}
