html {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  height: 100vh;
  width: 100vw;
  background-color: rgb(126, 129, 129);
}

body {
  position: relative;
  margin: 0%;  
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

