.main {
    text-align: center;
    display: flex;
    margin-top: 30vh;
  
  }
  
  .welcome {
    /* position: fixed; */
    /* display: none; */  /* A USAR */
    /* background-color: rgb(144, 238, 144); */
    width: 100%;
    height: 100%;  
  }
  
  .welcomeButton {
    /* display: flex;
    flex-direction: column;
    align-self: center;
    justify-items: center; */
    background-color: red;
    /* margin-top: 50%; */
    width: 90px;
    height: 30px;
  }
  
  .text {
    background-color: aqua;
  }