.mainPage {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-image: url("../images/landingBG.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
}

h1 {
  align-items: center;
}

.text {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: rgba(0, 255, 255, 0.264);
  height: 90vh;
    
}