.detail-body {
  display: flex;
  flex-direction: column;  
  align-items:flex-start;
  color: white;
}

#iconText {
  text-decoration: none;
  color: white;
  height: 12vh;
}

.image-detail {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px/*  !important; */
}

.text-style {
  margin: 0 0 0 0;
}

.text-smaller-style {
  margin: 0 0 0 0;
}

.text-smaller-stylee {
  width: 100vw;
  text-align: center;
  margin: 0 0 0 0;
  font-size: smaller;
  background-color: rgba(64, 117, 117, 0.641);
}

.main-upper {
  display: flex;
  flex-direction: row;
}

.main-lower {
  display: flex;
  flex-direction: row;
  font-size:x-large;
}

.main-upper-left {
  display: flex;
  flex-direction: row;
  width: 30vw;
}

.main-upper-right {
  display: flex;
  flex-direction: row;
  width: 40vw;
  justify-content: center;
}

@media (max-width: 1024px) {
  .main-lower {
    font-size:medium;
  }
}