.form-body {
  display: flex;
  flex-direction: row;
  
}

.iconImageForm {
  display: flex;
  width: 50px;
  height: 50px;
  background-color: blue;
  border-style: solid;
  border-radius: 49%;
  margin-top: 15px !important;
  margin-left: 15px !important;
  padding: 3px;
}

#iconText {
  text-decoration: none;  

  color: white;
  padding: 3px;
  margin-left: 15px !important;
}

.main-upper {
  display: flex;
  flex-direction: row;
}

.form {
  display: flex;
  flex-direction: column;  
  align-items: center;
  justify-content: center;

  padding-left: 25vw;
  padding-top: 1vw;
  
  
  font-size:x-large;
  color: white;
    
}

.options-main-align {
  display: flex;
  flex-direction: row;
}

.options-main-left {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.options-main-right {
  display: flex;
  flex-direction: column;
}


.align-text-options {
  display: flex;
  flex-direction: column;
}

.row-option {
  display: flex;
  flex-direction: row;
  align-content:space-between
  
}



.alert {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: right;
  color: red;
  background-color: rgba(255, 166, 0, 0.566);
  font-weight: bolder;

}

.danger {
  position: relative;
  display: flex;
  flex-direction: row;
  border-left: 50%;
  /* background-color: rgb(0, 255, 255); */
  background-color: rgba(196, 34, 147, 0.253);
  height: 27px;
}



.iconAndText {
  display: flex;
  flex-direction: row;
  padding: 20px;

  
}





