
.main-nav-div {
  display: flex;
  flex-direction: row;
  height: 12vh;
  width: 100vw;
  background-color: rgba(0, 255, 255, 0.264);  
}

.main-left {
  display: flex;
  flex-direction: row;
  padding: 0.9vh;
}

.iconImage {
  display: flex;
  width: 10vh;
  height: 10vh;
}

.main-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: antiquewhite;
  font-size:x-large;
  /* font-weight: 600; */
}

#iconText {
  text-decoration: none;
  color: white;
  /* padding: 3px; */
  margin-left: 3px !important;
}

.main-right {
  display: flex;
  flex-direction: column;
  width: 80vw;
  justify-content: space-around;
}

.right-upper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 17vw;
  margin-right: 18vw;

}

.right-lower {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  margin-left: 15vw;
  margin-right: 15vw;

}